div.aHostItem:after {
	content: '';
	height: 0;
	display: block;
	clear: both;
}

div.hostItemDiv {
	float: left;
}

div#deskAllVms {
	width: 1000px;
}

div.nodeDiv:after, div.macDiv:after,
div.ipsDiv:after, div.dogNPDiv:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}

input.node,
select.ips, button.addIps,
select.dogNP, button.changeDogNP {
	float: left;
}

div.nodesDiv:after {
	content: '';
	height: 0;
	display: block;
	clear: both;
}

select.nodes, button.changeNode {
	float: left;
}

div#hostsHeaderDiv:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}

div.headerItem {
	float: left;
	text-align: center;
}

div.aHostItem {
	margin: 1px 0;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

.hostItem {
	text-align: center;
	width: 90%;
	border: 1px solid #ffffff;
}

.hostItem:hover {
	text-align: center;
	width: 90%;
	border: 1px solid #00dd00;
}

.hostItemHasButton {
	text-align: center;
	width: 65%;
}

.hostItemButton:hover {
	text-align: center;
	width: 30%;
	border: 1px solid #00dd00;
}

.hostItemHasButton:hover {
	text-align: center;
	width: 65%;
}

.hostItemButton {
	width: 30%;
	text-align: center;
}

div.headerHandler {
	cursor: s-resize;
}

div#headerHandler, div.headerHandler {
	text-align: center;
	width: 50px;
}

div#headerHostName, div.hostNameDiv {
	width: 80px;
}

div#headerVcpus, div.vcpusDiv {
	width: 50px;
}

div#headerMem, div.memDiv {
	width: 50px;
}

div#headerDisk, div.diskDiv {
	width: 50px;
}

div#headerStart, div.startDiv {
	width: 150px;
}

div#headerEnd, div.endDiv {
	width: 150px;
}

div#headerCompany, div.companyDiv {
	width: 150px;
}

div#headerBandwidth, div.bandwidthDiv {
	width: 50px;
}

div#headerNode, div.nodeDiv {
	width: 200px;
}

div#headerMac, div.macDiv {
	width: 250px;
}

div#headerIp, div.ipsDiv {
	width: 200px;
}

div#headerdogNP, div.dogNPDiv {
	width: 150px;
}

div#dialogAddIpDiv{
	width: 120px;
	margin: 0 20px;
}

input#dialogAddSnInput {
	width: 40%;
	margin-left: 30%;
}

div.aUserPermissionDiv:hover {
	background-color: #ffffff;
}