{% load i18n %}
<div id="deskAllVms">
	<div id="hostsDiv"></div>
</div>
<div id="deskAddVm">
	<div id="vmItemDiv">
		<form id='addHost'>
			<div class="vmItem"><span>{% trans "name" %}</span><input type="text" name="vmname" id="vmName"></div>
			<div class="vmItem"><span>{% trans "vcpus" %}</span><input type="text" name="vcpus" id="vcpus"></div>
			<div class="vmItem"><span>{% trans "mem" %}</span><input type="text" name="mem" id="mem"></div>
			<div class="vmItem"><span>{% trans "disk" %}</span><input type="text" name="datadisk" id="disk"></div>
			<div class="vmItem"><span>{% trans "start" %}</span><input type="text" name="starttime" id="startTime"></div>
			<div class="vmItem"><span>{% trans "end" %}</span><input type="text" name="endtime" id="endTime"></div>
			<div class="vmItem"><span>{% trans "bandwidth" %}</span><input type="text" name="bandwidth" id="bandwidth"></div>
			<div class="vmItem"><span>{% trans "company" %}</span><input type="text" name="company" id="company"></div>
			<div class="vmItem"><span>{% trans "dogsn" %}</span><input type="text" name="dogsn" disabled id="dogSn"></div>
			<div class="vmItem"><span>{% trans "node" %}</span><select name="nodehost" id="node"></select></div>			
			<div class="vmItem"><span>{% trans "port" %}</span><select name="dogport" id="dogPort"></select></div>			
			<div class="vmItem"><span>{% trans "ip" %}</span><select name="ip" id="ip"></select></div>
			<div class="vmItem"><span>{% trans "mac" %}</span><select name="mac" id="mac"></select></div>
			<div class="vmItem"><span>{% trans "owner" %}</span><select name="businessMan" id="businessMan"></select></div>
		</form>
	</div>
</div>
{% if admin %}
	<div id="deskAddOwner">
		<div id="addOwnerDiv">
			<form id="addOwnerForm">
				<div id="addOwnerInputDiv"><input type="text" name="newOwner"></div>
			</form>
		</div>
	</div>
	<div id="deskAddNode">
		<div id="addNodeDiv">
			<form id="addNodeForm">
				<div id="addNodeInputDiv"><input type="text" name="newNode"></div>
			</form>
		</div>
	</div>
	<div id="deskAddIp">
		<div id="addIpDiv">
			<form id="addIpForm">
				<div id="addIpInputdiv"><input type="text" name="newIp"></div>
			</form>
		</div>
	</div>
	<div id="deskAddMac">
		<div id="addMacDiv">
			<form id="addMacForm">
				<div id="addMacInputdiv"><input type="text" name="macHeader" disabled value="52:54:00:"/><input type="text" name="newMac"></div>
			</form>
		</div>
	</div>
	<div id="deskAddPort">
		<div id="addPortDiv">
			<form id="addPortForm"> 
				<span>{% trans "node" %}:</span><select id="allNodes"></select>
				<div id="addPortInputdiv">
					<input type="text" name="newPort" value placeholder={% trans "dog port" %}>
				</div>
			</form>
		</div>
	</div>
	<div id="deskUser">
		<div id="deskUserDiv">
			<div class="userHeader">
				<div class="userHeaderItem" id="userHeaderUsername">{% trans "user" %}</div>
				<div class="userHeaderItem" id="userHeaderVmName">{% trans "vmName" %}</div>
				<div class="userHeaderItem" id="userHeaderVcpus">{% trans "vcpus" %}</div>
				<div class="userHeaderItem" id="userHeaderMem">{% trans "mem" %}</div>
				<div class="userHeaderItem" id="userHeaderDisk">{% trans "disk" %}</div>
				<div class="userHeaderItem" id="userHeaderStart">{% trans "start" %}</div>
				<div class="userHeaderItem" id="userHeaderEnd">{% trans "end" %}</div>
				<div class="userHeaderItem" id="userHeaderCompany">{% trans "company" %}</div>
				<div class="userHeaderItem" id="userHeaderBandwidth">{% trans "bandwidth" %}</div>
				<div class="userHeaderItem" id="userHeaderNode">{% trans "node" %}</div>
				<div class="userHeaderItem" id="userHeaderMac">{% trans "mac" %}</div>
				<div class="userHeaderItem" id="userHeaderIp">{% trans "ip" %}</div>
				<div class="userHeaderItem" id="userHeaderDogNP">{% trans "dogNP" %}</div>
				<div class="userHeaderItem" id="userHeaderBusinessMan">{% trans "saler" %}</div>
			</div>
			<div class="userHeader">
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">-</div><div class="modifyPermission permissionHeaderItem">-</div></div>
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">R</div><div class="modifyPermission permissionHeaderItem">W</div></div>
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">R</div><div class="modifyPermission permissionHeaderItem">W</div></div>
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">R</div><div class="modifyPermission permissionHeaderItem">W</div></div>
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">R</div><div class="modifyPermission permissionHeaderItem">W</div></div>
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">R</div><div class="modifyPermission permissionHeaderItem">W</div></div>
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">R</div><div class="modifyPermission permissionHeaderItem">W</div></div>
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">R</div><div class="modifyPermission permissionHeaderItem">W</div></div>
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">R</div><div class="modifyPermission permissionHeaderItem">W</div></div>
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">R</div><div class="modifyPermission permissionHeaderItem">W</div></div>
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">R</div><div class="modifyPermission permissionHeaderItem">W</div></div>
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">R</div><div class="modifyPermission permissionHeaderItem">W</div></div>
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">R</div><div class="modifyPermission permissionHeaderItem">W</div></div>
				<div class="userHeaderItem userHeaderPermissionItem"><div class="queryPermission permissionHeaderItem">R</div><div class="modifyPermission permissionHeaderItem">W</div></div>
			</div>
			<form id="userForm">
				<div id="usersDiv"></div>
			</form>
		</div>
		<div id="registerDialog" hidden>
			<div id="registerDialogDiv">
				<form name="register">
					<div id="reUsernameDiv" class="reUserItemDiv">
						<input type="text" name="username" id="usernameInput" class="reUserItemInput" placeholder={% trans "username" %}>
					</div>
					<div id="rePasswordDiv" class="reUserItemDiv">
						<input type="password" name="password" id="passwordInput" class="reUserItemInput" placeholder={% trans "password" %}>
					</div>
					<div id="rePswdConfirmDiv" class="reUserItemDiv">
						<input type="password" id="pswdConfirmInput" class="reUserItemInput" placeholder={% trans "confirm" %}>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}
<div id="deskLog">
	<div id="deskLogDiv"></div>
	<div id="conditionLogDiv" hidden>
		<div id="conditionLog">
			<div class="logQueryItemDiv">
				<select class="logQueryInput" id="logQueryHostName"></select>
			</div>
			<div class="logQueryItemDiv">
				<input type="text" class="logQueryInput" id="logQueryStartTime"/>
			</div>
			<div class="logQueryItemDiv">
				<input type="text" class="logQueryInput" id="logQueryEndTime"/>
			</div>
		</div>
	</div>
</div>