{% load i18n %}
<button id="start">start</button>
<ul id="startMenu">
	<li><a href="/logout/" id="logout">{% trans "logout" %}</a></li>
</ul>
<div id="username">{{ username }}</div>
<div id="changePasswordDialog" hidden>
	<div id="changePasswordDiv">
		<div class="changePasswordItemDiv">
			<input type="password" class="changePasswordInput" id="changeOldPassword" placeholder="old password"/>
		</div>
		<div class="changePasswordItemDiv">
			<input type="password" class="changePasswordInput" id="changeNewPassword" placeholder="new password"/>
		</div>
		<div class="changePasswordItemDiv">
			<input type="password" class="changePasswordInput" id="changePswdConfirm" placeholder="confirm"/>
		</div>
	</div>
</div>
<script type="text/javascript" src="/static/jquery.md5.js"></script>