<link rel="stylesheet" href="/static/userprofile/allUsers.css"/>
<div id="usersPermissionDiv">
{% for aUser in allUsers %}
	<div class="aUserPermissionDiv" id="{{ aUser.username }}">
		<div class="permissionUserDiv permissionItem">
			<div id="permissionUsername">{{ aUser.username }}</div>
		</div>
		<div class="permissionVmNameDiv permissionItem">
			<div class="permissionInputItem"><input class="aUserPermissionItem queryItem" name="instanceName" {{ aUser.query.instanceName }} type="checkbox"/></div>
			<div class="permissionInputItem"><input class="aUserPermissionItem modifyItem" name="instanceName" {{ aUser.modify.instanceName }} type="checkbox"/></div>
		</div>
		<div class="permissionVcpusDiv permissionItem">
			<div class="permissionInputItem"><input class="aUserPermissionItem queryItem" name="vcpus" {{ aUser.query.vcpus }} type="checkbox"/></div>
			<div class="permissionInputItem"><input class="aUserPermissionItem modifyItem" name="vcpus" {{ aUser.modify.vcpus }} type="checkbox"/></div>
		</div>
		<div class="permissionMemDiv permissionItem">
			<div class="permissionInputItem"><input class="aUserPermissionItem queryItem" name="mem" {{ aUser.query.mem }} type="checkbox"/></div>
			<div class="permissionInputItem"><input class="aUserPermissionItem modifyItem" name="mem" {{ aUser.modify.mem }} type="checkbox"/></div>
		</div>
		<div class="permissionDataDiskDiv permissionItem">
			<div class="permissionInputItem"><input class="aUserPermissionItem queryItem" name="dataDisk" {{ aUser.query.dataDisk }} type="checkbox"/></div>
			<div class="permissionInputItem"><input class="aUserPermissionItem modifyItem" name="dataDisk" {{ aUser.modify.dataDisk }} type="checkbox"/></div>
		</div>
		<div class="permissionStartTimeDiv permissionItem">
			<div class="permissionInputItem"><input class="aUserPermissionItem queryItem" name="startTime" {{ aUser.query.startTime }} type="checkbox"/></div>
			<div class="permissionInputItem"><input class="aUserPermissionItem modifyItem" name="startTime" {{ aUser.modify.startTime }} type="checkbox"/></div>
		</div>
		<div class="permissionUseIntervalDiv permissionItem">
			<div class="permissionInputItem"><input class="aUserPermissionItem queryItem" name="useInterval" {{ aUser.query.useInterval }} type="checkbox"/></div>
			<div class="permissionInputItem"><input class="aUserPermissionItem modifyItem" name="useInterval" {{ aUser.modify.useInterval }} type="checkbox"/></div>
		</div>
		<div class="permissionCompanyDiv permissionItem">
			<div class="permissionInputItem"><input class="aUserPermissionItem queryItem" name="company" {{ aUser.query.company }} type="checkbox"/></div>
			<div class="permissionInputItem"><input class="aUserPermissionItem modifyItem" name="company" {{ aUser.modify.company }} type="checkbox"/></div>
		</div>
		<div class="permissionBandwidthDiv permissionItem">
			<div class="permissionInputItem"><input class="aUserPermissionItem queryItem" name="bandwidth" {{ aUser.query.bandwidth }} type="checkbox"/></div>
			<div class="permissionInputItem"><input class="aUserPermissionItem modifyItem" name="bandwidth" {{ aUser.modify.bandwidth }} type="checkbox"/></div>
		</div>
		<div class="permissionNodeHostDiv permissionItem">
			<div class="permissionInputItem"><input class="aUserPermissionItem queryItem" name="nodeHost" {{ aUser.query.nodeHost }} type="checkbox"/></div>
			<div class="permissionInputItem"><input class="aUserPermissionItem modifyItem" name="nodeHost" {{ aUser.modify.nodeHost }} type="checkbox"/></div>
		</div>
		<div class="permissionMacAddressDiv permissionItem">
			<div class="permissionInputItem"><input class="aUserPermissionItem queryItem" name="macAddress" {{ aUser.query.macAddress }} type="checkbox"/></div>
			<div class="permissionInputItem"><input class="aUserPermissionItem modifyItem" name="macAddress" {{ aUser.modify.macAddress }} type="checkbox"/></div>
		</div>
		<div class="permissionIpAddressDiv permissionItem">
			<div class="permissionInputItem"><input class="aUserPermissionItem queryItem" name="ipAddress" {{ aUser.query.ipAddress }} type="checkbox"/></div>
			<div class="permissionInputItem"><input class="aUserPermissionItem modifyItem" name="ipAddress" {{ aUser.modify.ipAddress }} type="checkbox"/></div>
		</div>
		<div class="permissionDogNPDiv permissionItem">
			<div class="permissionInputItem"><input class="aUserPermissionItem queryItem" name="dogNP" {{ aUser.query.dogNP }} type="checkbox"/></div>
			<div class="permissionInputItem"><input class="aUserPermissionItem modifyItem" name="dogNP" {{ aUser.modify.dogNP }} type="checkbox"/></div>
		</div>
	</div>
{% endfor %}
</div>