html,body {
    margin: 0;
    padding: 0;
}

div#header {
    height: 20%;
    padding: 10px 30px;
}

div#header:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

div#logo {
    float: left;
    margin-left: 10%;
    width: 40%;
}

div#container {
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: #3bedfe;
}

div#loginDiv {
    position: absolute;
    border: 1px solid #000000;
    width: 20%;
    left: 40%;
    top: 10%;
    background-color: rgb(255, 255, 255);
}

div#loginHeader {
    background-color: #5cdfff;
    border-bottom: 1px solid #ffffff;
}

div#loginHeader:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

div#loginClose {
    color: #ffffff;
    float: right;
    margin: 0 5px;
    width: 20px;
    text-align: center;
}

div#loginClose:hover {
    color: #ff0a05;
    float: right;
    margin: 0 5px;
    width: 20px;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
}

div.loginItem {
    margin: 5px;
}

div#loginButtonDiv {
    padding-left: 5%;
    padding-right: 5%;
}

div.loginItem:after, div#registerButtonDiv:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}

div#usernameLabel, div#usernameInputDiv, div#passwordLabel,
div#passwordInputDiv {
    float: left;
}

div#usernameLabel, div#passwordLabel {
    width: 30%;
}

div#usernameInputDiv, div#passwordInputDiv {
    width: 70%;
}

input#usernameInput, input#passwordInput {
    width: 90%;
}

div#footer {
    position: absolute;
    bottom: 50px;
    width: 25%;
    margin-left: 39%;
    margin-right: 39%;
}

div#registerDiv {
    position: absolute;
    border: 1px solid #000000;
    width: 20%;
    left: 40%;
    top: 10%;
    background-color: rgb(255, 255, 255);
}

div#registerHeader {
    background-color: #5cdfff;
    border-bottom: 1px solid #ffffff;
}

div#registerHeader:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

div#registerClose {
    color: #ffffff;
    float: right;
    margin: 0 5px;
    width: 20px;
    text-align: center;
}

div#registerClose:hover {
    color: #ff0a05;
    float: right;
    margin: 0 5px;
    width: 20px;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
}

div.registerDivElement {
    margin: 5px 0;
}

div.registerDivElement:after {
    content: '';
    height: 0;
    display: block;
    clear: both;
}

div.registerLabelElement {
    float: left;
    width: 30%;
    margin-left: 5%;
}

div.registerInputDivElement {
    float: right;
    width: 65%;
}

div.registerInputElement {
    width: 90%;
}

div#registerButtonDiv {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5px;
}

div.loginRegisterLeftButton {
    float: left;
}

div.loginRegisterRightButton {
    float: right;
}

div#inputTip {
    float: left;
    padding: 0 5px;
    color: #888;
}

div.loginRegisterLeftButton, div.loginRegisterRightButton {
    padding: 2px;
    border: 1px solid #03aa00;
}

div.loginRegisterLeftButton:hover, div.loginRegisterRightButton:hover {
    padding: 2px;
    border: 1px solid #03aa00;
    background-color: #03aa00;
    cursor: pointer;
}

div#loginDialogMini {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 50px;
    border: 1px solid #000000;
    background-color: #ffffff;
}

div#loginDialogMini:hover {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 50px;
    border: 1px solid #000000;
    background-color: #3bedfe;
    cursor: pointer;
}

div#tipDialogDiv {
    position: absolute;
    border: 1px solid #000000;
    width: 20%;
    left: 40%;
    top: 20%;
    background-color: rgb(255, 255, 255);
}

div#tipDialogHeader {
    background-color: #5cdfff;
    border-bottom: 1px solid #ffffff;
}

div#tipDialogHeader:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

div#tipDialogClose {
    color: #ffffff;
    float: right;
    margin: 0 5px;
    width: 20px;
    text-align: center;
}

div#tipDialogClose:hover {
    color: #ff0a05;
    float: right;
    margin: 0 5px;
    width: 20px;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
}

div#tipDialogButton {
    width: 20%;
    background-color: #ffffff;
    border: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

div#tipDialogButton:hover {
    width: 20%;
    background-color: #03aa00;
    border: 1px solid #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
}