div#managerDiv {
    position: absolute;
    border: 1px solid #000000;
    right: 200px;
    top: 80px;
    width: 1000px;
    height: 500px;
    background-color: #ffffff;
    z-index: 2;
}

div#managerHeader {
    background-color: #5cdfff;
    border-bottom: 1px solid #ffffff;
}

div#managerHeader:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

div#managerClose {
    color: #ffffff;
    float: right;
    margin: 0 5px;
    width: 20px;
    text-align: center;
}

div#managerClose:hover {
    color: #ff0a05;
    float: right;
    margin: 0 5px;
    width: 20px;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
}

div#managerContentDiv {
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: auto;
    padding: 5px;
    height: 90%;
}

div#userTablesDiv:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}

div.usersTable {
    float: left;
    width: 50%;
    cursor: pointer;
}

div.usersTableHead {
    background: #5cdfff;
    text-align: center;
    border: 1px solid #ffffff
}

div.usersTableHeadClick {
    background: #ffffff;
    text-align: center;
    border: 1px solid #ffffff
}

div#usersContentContainer:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}

div.usersContentDiv {
    float: left;
}

div.aUser:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}

div.userItem {
    float: left;
    padding: 3px;
}

div#usersHead:after {
    content: '';
    display: block; 
    height: 0;
    clear: both;
}

div.usersHeadItem {
    float: left;
    padding: 3px;
}

div#usersHead {
    background-color: #5cdfff;
    margin: 3px 0;
    color: #ffffff;
}

div.username, div#usernameHead {
    width: 100px;
}

div.password, div#passwordHead {
    width: 100px;
}

div.datejoined, div#datejoinedHead {
    width: 200px;
}

div.lastlogin, div#lastloginHead {
    width: 200px;
}

div.isactive, div#isactiveHead {
    width: 50px;
}

div.isstaff, div#isstaffHead {
    width: 50px;
}

div.company, div#userCompanyHead {
    width: 200px;
}

div.email, div#emailHead {
    width: 200px;
}

div.weixin, div#weixinHead {
    width: 100px;
}

div.phone, div#phoneHead {
    width: 100px;
}

div.question, div#questionHead {
    width: 200px;
}

div.answer, div#answerHead {
    width: 200px;
}

div.aUser, div#usersHead {
    width: 1800px;
}

div.userItem, div.usersHeadItem {
    text-align: center;
}

div.passwordReset {
    border: 1px solid #5cdfff;
    background-color: #5cdfff;
}

div.passwordReset:hover {
    border: 1px solid #5cdfff;
    background-color: #ffffff;
    cursor: pointer;
}

div.passwordResetClick {
    color: #ffffff;
    border: 1px solid #5cdfff;
    background-color: #cd0a0a;
}