<div id="header">
    <div id="logo">
        <h1>Host Resource Manage System</h1>
    </div>
    <div id="toolbarDiv">
        <div id="toolbar">
            <div class="toolItem" id="help">help</div>
            <div class="toolItem" id="ftp">FTP</div>
            <div class="toolItem" id="login">login</div>
            <div class="toolItem" id="add">add</div>
            <div class="toolItem" id="addIp">add IP</div>
        </div>
        <div id="loginDialog">
            <div id="loginDialogHeader">
                <div id="loginDialogClose">x</div>
            </div>
            <div id="loginFormDiv">
                <form method="post" action="/query/login">
                    username:
                    <input type="text"/>
                    </br>
                    password:
                    <input type="password"/>
                    <button type="submit">login</button>
                </form>
            </div>
        </div>
        <div id="helpDialog">
            <div id="helpDialogHeader">
                <div id="helpDialogClose">x</div>
            </div>
            <div id="helpContentDiv">
                <div id="helpContent">
                    <h5 id="helpTitle">help</h5>
                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>
                </div>
            </div>
        </div>
    </div>
</div>