<div id="header">
    <div id="logo">
        <h1>Host Resource Manage System</h1>
    </div>
    <div id="toolbarDiv">
        <div id="toolbar">
            <div class="toolItem" id="logout">{{ username }}--></div>
            <div class="toolItem" id="help">?</div>
            <div class="toolItem" id="ftp">FTP</div>
            {% if isSuperuser %}
                <div class="toolItem" id="add">add host</div>
                <div class="toolItem" id="addIp">add IP</div>
                <div class="toolItem" id="manager">M</div>
            {% endif %}
        </div>
        <div id="helpDialog">
            <div id="helpDialogHeader">
                <div id="helpDialogClose">x</div>
            </div>
            <div id="helpContentDiv">
                <div id="helpContent">
                    <h5 id="helpTitle">help</h5>
                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>                    <p>help1</p>
                    <p>help2</p>
                    <p>... ...</p>
                </div>
            </div>
        </div>
    </div>
</div>