<div id="header">
    <div id="logo">
        <h1>Host Resource Manage System</h1>
    </div>
    <div id="toolbarDiv">
        <div id="toolbar">
            <div class="toolItem" id="logout">{{ username }} logout</div>
            {% if isSuperuser %}
                <div class="toolItem" id="add">add host</div>
                <div class="toolItem" id="addIp">add IP</div>
                <div class="toolItem" id="manager">M</div>
            {% endif %}
        </div>
        <div id="helpDialog">
            <div id="helpDialogHeader">
                <div id="helpDialogClose">x</div>
            </div>
        </div>
    </div>
</div>