<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>login...</title>
    <link rel="stylesheet" href="/static/login.css"/>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="application/javascript" src="/static/login.js"></script>
    <script type="application/javascript" src="/static/jquery-ui/jquery-ui.js"></script>
</head>
<body>
    <div id="header">
        <div id="logo">
            <h1>Host Resource Manage System</h1>
        </div>
    </div>
    <div id='container'>
        <div id='loginDiv'>
            <div id="loginHeader">
                <div id="loginClose">x</div>
            </div>
            <div class='loginItem' id='usernameDiv'>
                <div id='usernameLabel'>username</div>
                <div id="usernameInputDiv">
                    <input id="usernameInput" maxlength="16"/>
                </div>
            </div>
            <div class="loginItem" id="passwordDiv">
                <div id="passwordLabel">password</div>
                <div id="passwordInputDiv">
                    <input id="passwordInput" type="password" maxlength="16"/>
                </div>
            </div>
            <div class="loginItem" id="loginButtonDiv">
                <div class="loginRegisterLeftButton" id="loginRegister">register</div>
                <div class="loginRegisterRightButton" id="loginSubmit">login</div>
            </div>
        </div>
        <div id="registerDiv">
            <div id="registerHeader">
                <div id="registerClose">x</div>
            </div>
            <div class="registerDivElement" id="registerUsernameDiv">
                <div class="registerLabelElement" id="loginRegisterUsernameLabel">username</div>
                <div class="registerInputDivElement" id="loginRegisterUsernameInputDiv">
                    <input class="registerInputElement" id="loginRegisterUsernameInput" maxlength="16"/>
                </div>
            </div>
            <div class="registerDivElement" id="loginRegisterPasswordDiv">
                <div class="registerLabelElement" id="loginRegisterPasswordLabel">password</div>
                <div class="registerInputDivElement" id="loginRegisterPasswordInputDiv">
                    <input class="registerInputElement" id="loginRegisterPasswordInput" type="password" maxlength="16"/>
                </div>
            </div>
            <div class="registerDivElement" id="loginRegisterPasswordConfirmDiv">
                <div class="registerLabelElement" id="loginRegisterPasswordConfirmLabel">confirm</div>
                <div class="registerInputDivElement" id="loginRegisterPasswordConfirmInputDiv">
                    <input class="registerInputElement" id="loginRegisterPasswordConfirmInput" type="password" maxlength="16"/>
                </div>
            </div>
            <div class="registerDivElement" id="loginRegisterEmailDiv">
                <div class="registerLabelElement" id="loginRegisterEmailLabel">email</div>
                <div class="registerInputDivElement" id="loginRegisterEmailInputDiv">
                    <input class="registerInputElement" id="loginRegisterEmailInput"/>
                </div>
            </div>
            <div id="registerButtonDiv">
                <div class="loginRegisterLeftButton" id="registerSubmit">submit</div>
                <div id="inputTip"></div>
                <div class="loginRegisterRightButton" id="registerClear">clear</div>
            </div>
        </div>
        <div id="loginDialogMini">login...</div>
    </div>
    {% include 'footer.html' %}
</body>
</html>