div.aUserPermissionDiv:after {
	content: '';
	height: 0;
	clear: both;
	display: block;
}

div.permissionItem {
	width: 80px;
	float: left;
}

input.aUserPermissionItem {
	width: 30%;
	margin-left: 11%;
}

div.permissionItem:hover {
	background-color: #00dddd;
}