div.aUserPermissionDiv:after, div.permissionItem:after {
	content: '';
	height: 0;
	clear: both;
	display: block;
}

div.permissionItem {
	width: 80px;
	float: left;
}

input.aUserPermissionItem {
	width: 90%;
}

div.permissionItem:hover {
	background-color: #00dddd;
}

div.permissionInputItem {
	float: left;
	width: 50%;
}

div.aUserPermissionDiv {
	width: 1100px;
}