select {
	width: 70%;
}

div.userHeader {
	width: 1150px;
}

div.userHeader:after, div.userHeaderPermissionItem:after {
	content: '';
	height: 0;
	clear: both;
	display: block;
}

div.userHeaderItem {
	float: left;
	text-align: center;
	width: 80px;
}

div.permissionHeaderItem {
	float: left;
	width: 50%;
	text-align: center;
}

div#permissionUsername {
	text-align: center;
}

div#deskLogDiv {
	color: lime;
	background-color: rgba(0, 0, 0, 0.9);
}

div#RegisterDialogDiv {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

div.reUserItemDiv {
	width: 100%;
	margin: 5% 0;
}

input.reUserItemInput {
	width: 100%;
}

input.isRegistered {
	width: 100%;
	border: 1px solid rgb(255, 0, 0);
}

input.notRegistered {
	width: 100%;
	border: 1px solid rgb(0, 255, 0);	
}