select {
	width: 70%;
}

div.userHeader {
	width: 1100px;
}

div.userHeader:after, div.userHeaderPermissionItem:after {
	content: '';
	height: 0;
	clear: both;
	display: block;
}

div.userHeaderItem {
	float: left;
	text-align: center;
	width: 80px;
}

div.permissionHeaderItem {
	float: left;
	width: 50%;
	text-align: center;
}

div#permissionUsername {
	text-align: center;
}

div#deskLog {
	color: green;
	background-color: rgb(0, 0, 0);
}