button#start {
	width: 45px;
	height: 100%;
	border: none;
	box-shadow: 0 0 5px #000000;
	border-bottom-right-radius: 10px;
}

ul#startMenu {
	width: 100px;
	position: fixed;
	top: 25px;
	left: 0;
}

a {
	text-decoration: none;
}

div#header:after {
	content: '';
	clear: both;
	height: 0;
	display: block;
}

button#start {
	float: left;
}

div#username {
	padding: 0 10px;
	float: right;
	font-size: 22px;
	text-align: center;
	background-color: #91B2B5;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

div#username:hover {
	padding: 0 10px;
	float: right;
	font-size: 22px;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

input.pswdNotMatch {
	width: 100%;
	border: 1px solid #ff0000;	
}

div.isChanged {
	background-color: #00ff00;
}

div.notChanged {
	background-color: #ff0000;
}