
{% for aHost in all %}
	<div class="aHostItem" id="{{ aHost.name }}">
		<div class="hostItemDiv hostNameDiv">
			<input type="text" disabled class="hostItem hostName" value="{{ aHost.name }}"</input>
		</div>
		<div class="hostItemDiv vcpusDiv">
			<input type="text" class="hostItem vcpus" value="{{ aHost.vcpus }}"</input>
		</div>
		<div class="hostItemDiv memDiv">
			<input type="text" class="hostItem mem" value="{{ aHost.mem }}"</input>
		</div>
		<div class="hostItemDiv diskDiv">
			<input type="text" class="hostItem disk" value="{{ aHost.disk }}"</input>
		</div>
		<div class="hostItemDiv startDiv">
			<input type="text" class="hostItem start" value="{{ aHost.start }}"</input>
		</div>
		<div class="hostItemDiv endDiv">
			<input type="text" class="hostItem end" value="{{ aHost.end }}"</input>
		</div>
		<div class="hostItemDiv companyDiv">
			<input type="text" class="hostItem company" value="{{ aHost.company }}"</input>
		</div>
		<div class="hostItemDiv bandwidthDiv">
			<input type="text" class="hostItem bandwidth" value="{{ aHost.bandwidth }}"</input>
		</div>
		<div class="hostItemDiv nodeDiv">
			<select class="hostItem node">
				<option>{{ aHost.node }}</option>
			</select>
		</div>
		<div class="hostItemDiv macDiv">
			<input disabled value="{{ aHost.mac }}"/>
			<button class="changeMac">@</button>
		</div>
		<div class="hostItemDiv ipsDiv">
			<select class="hostItem ips">
			{% for ip in aHost.ips %}
				<option value="{{ ip }}">{{ ip }}</option>
			{% endfor %}
			</select>
			<button class="addIps">+</button>
		</div>
		<div class="hostItemDiv dogNPDiv">
			<select class="hostItem dogNP">
			{% for dog in aHost.dogNP %}
				<option value="{{ dog }}">{{ dog }}</option>
			{% endfor %}
			</select>
			<button class="changeDogNP">@</button>
		</div>
	</div>
{% endfor %}