<script type="text/javascript" src="/static/hrmsapp/all.js"></script>

<div id="hostsHeaderDiv">
	<div class="headerItem" id="headerHandler">sort</div>
{% if header.name.query %}
	<div class="headerItem" id="headerHostName">name</div>
{% endif %}
{% if header.vcpus.query %}
	<div class="headerItem" id="headerVcpus">vcpus</div>
{% endif %}
{% if header.mem.query %}
	<div class="headerItem" id="headerMem">mem<br/>(G)</div>
{% endif %}
{% if header.disk.query %}
	<div class="headerItem" id="headerDisk">disk<br/>(G)</div>
{% endif %}
{% if header.start.query %}
	<div class="headerItem" id="headerStart">start<br/>(m/d/y)</div>
{% endif %}
{% if header.end.query %}
	<div class="headerItem" id="headerEnd">end<br/>(m/d/y)</div>
{% endif %}
{% if header.company.query %}
	<div class="headerItem" id="headerCompany">company</div>
{% endif %}
{% if header.bandwidth.query %}
	<div class="headerItem" id="headerBandwidth">bandwidth<br/>(Mbps)</div>
{% endif %}
{% if header.node.query %}
	<div class="headerItem" id="headerNode">node</div>
{% endif %}
{% if header.macs.query %}
	<div class="headerItem" id="headerMac">mac</div>
{% endif %}
{% if header.ips.query %}
	<div class="headerItem" id="headerIp">IP</div>
{% endif %}
{% if header.dogNP.query %}
	<div class="headerItem" id="headerdogNP">dog<br/>(Port:SN)</div>
{% endif %}
{% if header.businessMan.query %}
	<div class="headerItem" id="headerBusinessMan">businessMan</div>
{% endif %}
</div>

<div id="hosts">
{% for aHost in all %}
	<div class="aHostItem" id="{{ aHost.name.value }}">
		<div class="hostItemDiv headerHandler">↑↓</div>
	{% if aHost.name.query %}
		<div class="hostItemDiv hostNameDiv">
			<input {{ aHost.name.modify }} type="text" class="hostItem hostName" value="{{ aHost.name.value }}"></input>
		</div>
	{% endif %}

	{% if aHost.vcpus.query %}
		<div class="hostItemDiv vcpusDiv">
			<input {{ aHost.vcpus.modify }} type="text" class="hostItem vcpus" value="{{ aHost.vcpus.value }}"></input>
		</div>
	{% endif %}
	{% if aHost.mem.query %}
		<div class="hostItemDiv memDiv">
			<input {{ aHost.mem.modify }} type="text" class="hostItem mem" value="{{ aHost.mem.value }}"></input>
		</div>
	{% endif %}
	{% if aHost.disk.query %}
		<div class="hostItemDiv diskDiv">
			<input {{ aHost.disk.modify }} type="text" class="hostItem disk" value="{{ aHost.disk.value }}"></input>
		</div>
	{% endif %}
	{% if aHost.start.query %}
		<div class="hostItemDiv startDiv">
			<input {{ aHost.start.modify }} type="text" class="hostItem start" value="{{ aHost.start.value }}"></input>
		</div>
	{% endif %}
	{% if aHost.end.query %}
		<div class="hostItemDiv endDiv">
			<input {{ aHost.end.modify }} type="text" class="hostItem end" value="{{ aHost.end.value }}"></input>
		</div>
	{% endif %}
	{% if aHost.company.query %}
		<div class="hostItemDiv companyDiv">
			<input {{ aHost.company.modify }} type="text" class="hostItem company" value="{{ aHost.company.value }}"></input>
		</div>
	{% endif %}
	{% if aHost.bandwidth.query %}
		<div class="hostItemDiv bandwidthDiv">
			<input {{ aHost.bandwidth.modify }} type="text" class="hostItem bandwidth" value="{{ aHost.bandwidth.value }}"></input>
		</div>
	{% endif %}
	{% if aHost.node.query %}
		<div class="hostItemDiv nodeDiv">
			<input disabled type="text" class="hostItem node hostItemHasButton" value="{{ aHost.node.value }}"></input>
			<button {{ aHost.node.modify }} class="hostItemButton changeNode">@</button>			
		</div>
	{% endif %}
	{% if aHost.macs.query %}
		<div class="hostItemDiv macDiv">
			<select class="hostItem mac hostItemHasButton">
			{% for mac in aHost.macs.value %}
				<option value="{{ mac }}">{{ mac }}</option>
			{% endfor %}
			</select>
			<button {{ aHost.ips.modify }} class="hostItemButton addMacs">+</button>
		</div>
	{% endif %}	
	{% if aHost.ips.query %}
		<div class="hostItemDiv ipsDiv">
			<select class="hostItem ips hostItemHasButton">
			{% for ip in aHost.ips.value %}
				<option value="{{ ip }}">{{ ip }}</option>
			{% endfor %}
			</select>
			<button {{ aHost.ips.modify }} class="hostItemButton addIps">+</button>
		</div>
	{% endif %}
	{% if aHost.dogNP.query %}
		<div class="hostItemDiv dogNPDiv">
			<select class="hostItem dogNP hostItemHasButton">
			{% for dog in aHost.dogNP.value %}
				<option value="{{ dog }}">{{ dog }}</option>
			{% endfor %}
			</select>
			<button {{ aHost.dogNP.modify }} class="hostItemButton addDogs">+</button>
		</div>
	{% endif %}
	{% if aHost.businessMan.query %}
		<div class="hostItemDiv businessManDiv">
			<input disabled type="text" class="hostItem businessMan hostItemHasButton" value="{{ aHost.businessMan.value }}"/>
			<button {{ aHost.businessMan.modify }} class="hostItemButton changeBusinessMan">@</button>
		</div>
	{% endif %}
	</div>
{% endfor %}
</div>

<div id="dialogAddMac">
	<div id="dialogAddMacDiv"></div>
</div>

<div id="dialogAddIp">
	<div id="dialogAddIpDiv"></div>
</div>

<div id="dialogChangeNode">
	<div id="dialogChangeNodeDiv"></div>
</div>

<div id="dialogAddDog">
	<div id="dialogAddDogDiv"></div>
</div>

<div id="dialogChangeBusinessMan">
	<div id="dialogChangeBusinessManDiv"></div>
</div>
